
@{
    ViewBag.Title = "Login";
}

<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
        <form>
            <label for="chk" aria-hidden="true">Kayıt Ol</label>
            <input type="text" name="txt" placeholder="Kullanıcı Adı" required="">
            <input type="email" name="email" placeholder="Email" required="">
            <input type="number" name="broj" placeholder="Telefon numarası" required="">
            <input type="password" name="pswd" placeholder="Şifre" required="">
            <button>Kayıt Ol</button>
        </form>
    </div>

    <div class="login">
        <form>
            <label for="chk" aria-hidden="true">Giriş Yap</label>
            <input type="email" name="email" placeholder="Email" required="">
            <input type="password" name="pswd" placeholder="Şifre" required="">
            <button>Giriş Yap</button>
        </form>
    </div>
</div>



